In [1]:
import pandas as pd
import re
import string

In [2]:
# --- Day 6: Custom Customs ---
# As your flight approaches the regional airport where you'll switch to a much larger plane, customs declaration forms are distributed to the passengers.

# The form asks a series of 26 yes-or-no questions marked a through z. All you need to do is identify the questions for which anyone in your group answers "yes". Since your group is just you, this doesn't take very long.

# However, the person sitting next to you seems to be experiencing a language barrier and asks if you can help. For each of the people in their group, you write down the questions for which they answer "yes", one per line. For example:

# abcx
# abcy
# abcz
# In this group, there are 6 questions to which anyone answered "yes": a, b, c, x, y, and z. (Duplicate answers to the same question don't count extra; each question counts at most once.)

# Another group asks for your help, then another, and eventually you've collected answers from every group on the plane (your puzzle input). Each group's answers are separated by a blank line, and within each group, each person's answers are on a single line. For example:

# abc

# a
# b
# c

# ab
# ac

# a
# a
# a
# a

# b
# This list represents answers from five groups:

# The first group contains one person who answered "yes" to 3 questions: a, b, and c.
# The second group contains three people; combined, they answered "yes" to 3 questions: a, b, and c.
# The third group contains two people; combined, they answered "yes" to 3 questions: a, b, and c.
# The fourth group contains four people; combined, they answered "yes" to only 1 question, a.
# The last group contains one person who answered "yes" to only 1 question, b.
# In this example, the sum of these counts is 3 + 3 + 3 + 1 + 1 = 11.

# For each group, count the number of questions to which anyone answered "yes". What is the sum of those counts?

In [3]:
with open('answers.txt') as f:
    lines = f.read()

li = lines.split("\n\n")

In [4]:
df = pd.DataFrame(li,columns = ["answers"])
df.head()

                                             answers
0                                        we\neuw\nwe
1     czaxvodqbsjeytwhurpg\ngclajqykpmxfbohvtedzwrus
2  dxoznjqhwuvblprgekyfcm\nghbozdkxqjevwfrypcnul\...
3               ralobiy\nlyairo\nrzyailop\nfalyismnr
4                              rvwzm\nrm\nrm\nrm\nmr

In [5]:
def remove_line_break(value):
    
    value = re.sub(r'\n',' ',value)
    
    return value

In [6]:
df.answers = df.answers.apply(remove_line_break)
df.head()

                                             answers
0                                          we euw we
1      czaxvodqbsjeytwhurpg gclajqykpmxfbohvtedzwrus
2  dxoznjqhwuvblprgekyfcm ghbozdkxqjevwfrypcnul r...
3                  ralobiy lyairo rzyailop falyismnr
4                                  rvwzm rm rm rm mr

In [7]:
alpha_list = list(string.ascii_lowercase)
alpha_list

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [8]:
value = 'czaxvodqbsjeytwhurpggclajqykpmxfbohvtedzwrus'

count = 0

for character in alpha_list:
    
    if character in value:
        
        count += 1
        
count

24

In [9]:
def get_count(value):
    
    alpha_list = list(string.ascii_lowercase)
    
    count = 0

    for character in alpha_list:

        if character in value:

            count += 1
            
    return count

In [10]:
df['total'] = df.answers.apply(get_count)
df.head()

                                             answers  total
0                                          we euw we      3
1      czaxvodqbsjeytwhurpg gclajqykpmxfbohvtedzwrus     24
2  dxoznjqhwuvblprgekyfcm ghbozdkxqjevwfrypcnul r...     23
3                  ralobiy lyairo rzyailop falyismnr     13
4                                  rvwzm rm rm rm mr      5

In [11]:
df.total.sum()

6763

In [24]:
value = 'rvwzm rm rm rm mr'

alpha_list = list(string.ascii_lowercase)

respondants = len(value.split(' '))

count = 0

for character in alpha_list:
    
    if value.count(character) == respondants:
        
        count += 1

count

2

In [27]:
def get_all_yes(value):
    
    alpha_list = list(string.ascii_lowercase)

    respondants = len(value.split(' '))

    count = 0

    for character in alpha_list:
    
        if value.count(character) == respondants:
        
            count += 1

    return count

In [28]:
df['all_yes'] = df.answers.apply(get_all_yes)
df

                                               answers  total  all_yes
0                                            we euw we      3        2
1        czaxvodqbsjeytwhurpg gclajqykpmxfbohvtedzwrus     24       20
2    dxoznjqhwuvblprgekyfcm ghbozdkxqjevwfrypcnul r...     23       21
3                    ralobiy lyairo rzyailop falyismnr     13        5
4                                    rvwzm rm rm rm mr      5        2
..                                                 ...    ...      ...
490        xhmleqfridavt tkdixyqavmelfhr talhdmvfeqirx     15       13
491                         jaytvesdu bfnqeagirp zelaj     19        2
492  lvbapwkxyigheqts eywqpszvxtkaghli ytlxvghkqeiw...     23       14
493                                            bjn nbj      3        3
494                                    vxyjehaou wozap     12        2

[495 rows x 3 columns]

In [29]:
df.all_yes.sum()

3512