In [1]:
import pandas as pd

In [2]:
# --- Day 5: Binary Boarding ---
# You board your plane only to discover a new problem: you dropped your boarding pass! You aren't sure which seat is yours, and all of the flight attendants are busy with the flood of people that suddenly made it through passport control.

# You write a quick program to use your phone's camera to scan all of the nearby boarding passes (your puzzle input); perhaps you can find your seat through process of elimination.

# Instead of zones or groups, this airline uses binary space partitioning to seat people. A seat might be specified like FBFBBFFRLR, where F means "front", B means "back", L means "left", and R means "right".

# The first 7 characters will either be F or B; these specify exactly one of the 128 rows on the plane (numbered 0 through 127). Each letter tells you which half of a region the given seat is in. Start with the whole list of rows; the first letter indicates whether the seat is in the front (0 through 63) or the back (64 through 127). The next letter indicates which half of that region the seat is in, and so on until you're left with exactly one row.

# For example, consider just the first seven characters of FBFBBFFRLR:

# Start by considering the whole range, rows 0 through 127.
# F means to take the lower half, keeping rows 0 through 63.
# B means to take the upper half, keeping rows 32 through 63.
# F means to take the lower half, keeping rows 32 through 47.
# B means to take the upper half, keeping rows 40 through 47.
# B keeps rows 44 through 47.
# F keeps rows 44 through 45.
# The final F keeps the lower of the two, row 44.
# The last three characters will be either L or R; these specify exactly one of the 8 columns of seats on the plane (numbered 0 through 7). The same process as above proceeds again, this time with only three steps. L means to keep the lower half, while R means to keep the upper half.

# For example, consider just the last 3 characters of FBFBBFFRLR:

# Start by considering the whole range, columns 0 through 7.
# R means to take the upper half, keeping columns 4 through 7.
# L means to take the lower half, keeping columns 4 through 5.
# The final R keeps the upper of the two, column 5.
# So, decoding FBFBBFFRLR reveals that it is the seat at row 44, column 5.

# Every seat also has a unique seat ID: multiply the row by 8, then add the column. In this example, the seat has ID 44 * 8 + 5 = 357.

# Here are some other boarding passes:

# BFFFBBFRRR: row 70, column 7, seat ID 567.
# FFFBBBFRRR: row 14, column 7, seat ID 119.
# BBFFBBFRLL: row 102, column 4, seat ID 820.
# As a sanity check, look through your list of boarding passes. What is the highest seat ID on a boarding pass?

In [3]:
df = pd.read_excel('seat_numbers.xlsx')
df.head()

  seat_number_code
0       BBFFFFBRLL
1       BFBBBBFLLL
2       FBBBFBFLLR
3       BFBBBFBLRR
4       FBBFFBFLRR

In [4]:
df['row_number_code'] = df.seat_number_code.str[0:7]
df['column_number_code'] = df.seat_number_code.str[-3:]

In [5]:
df.head()

  seat_number_code row_number_code column_number_code
0       BBFFFFBRLL         BBFFFFB                RLL
1       BFBBBBFLLL         BFBBBBF                LLL
2       FBBBFBFLLR         FBBBFBF                LLR
3       BFBBBFBLRR         BFBBBFB                LRR
4       FBBFFBFLRR         FBBFFBF                LRR

In [6]:

n = int(128)

for r in range(0, 7):
    
    n = n/2
    print(n)

64.0
32.0
16.0
8.0
4.0
2.0
1.0

In [13]:
row_code = 'BFBBBBF'

max_row = 127

min_row = 1

for letter in row_code:
    
    seat_move = (max_row - min_row) / 2
    
    if letter == 'B':
        
        min_row += int(seat_move)
        
    if letter == 'F':
        
        max_row -= int(seat_move)
        
    print('max:',max_row)
    print('min:',min_row)
    print('move:',seat_move)
    print('')

if row_code[-1] == 'B':
    
    print(min_row)
    
if row_code[-1] == 'F':
    
    print(max_row)

max: 127
min: 64
move: 63.0

max: 96
min: 64
move: 31.5

max: 96
min: 80
move: 16.0

max: 96
min: 88
move: 8.0

max: 96
min: 92
move: 4.0

max: 96
min: 94
move: 2.0

max: 95
min: 94
move: 1.0

95